<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-md-left">
    <div class="row text-md-left">
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">About Kitchen Manager</h6>
        <p>
          Easily organize your kitchen workflow — manage dishes, ingredients, and staff with confidence using our
          intuitive system. </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">Quick Links</h6>
        <p><a href="{% url 'restaurant:index' %}" class="text-white text-decoration-none">Home</a></p>
        <p><a href="#" class="text-white text-decoration-none">Dishes</a></p>
        <p><a href="#" class="text-white text-decoration-none">Cooks</a></p>
        <p><a href="#" class="text-white text-decoration-none">Dish Types</a></p>
        <p><a href="#" class="text-white text-decoration-none">Ingredients</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">Contact Us</h6>
        <p>Email: danylkiv.pavlo@gmail.com</p>
        <p>Phone: +38 (043) 502-00-10</p>
      </div>
    </div>
  </div>
</footer>