{% extends "layouts/base-presentation.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-7 pt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Dish List</h1>
      <a href="{% url 'restaurant:dish-create' %}" class="btn btn-primary btn-sm rounded-pill">Create Dish</a>
    </div>

    <form action="" method="get" class="d-flex align-items-center mb-4" style="max-width: 400px;">
      <div class="flex-grow-1 me-2">
        {{ search_form|crispy }}
      </div>
      <button class="btn btn-secondary" type="submit">🔎</button>
    </form>

    {% if dish_list %}
      <div class="table-responsive">
        <table class="table align-items-center mb-0 table-borderless">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Dish Type</th>
              <th>Additional information</th>
            </tr>
          </thead>
          <tbody>
            {% for dish in dish_list %}
              <tr>
                <td>{{ dish.name }}</td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.price }}</td>
                <td>{{ dish.dish_type }}</td>
                <td>
                  <a href="{% url 'restaurant:dish-detail' dish.id %}">Click here to find more information about ingredients and cooks</a>
                </td>
                <td class="d-flex gap-2 flex-wrap">
                  <a href="{% url 'restaurant:dish-delete' dish.id %}" class="btn btn-danger btn-sm rounded-pill mb-1">Delete</a>
                  <a href="{% url 'restaurant:dish-update' dish.id %}" class="btn btn-secondary btn-sm rounded-pill mb-1">Update</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}